@import '~bootstrap/scss/bootstrap';

body {
  background-color: #070606;
  color: white;
}

.light-square {
  background-color: rgb(210,180,140);
}

.dark-square {
  background-color: rgb(139,69,19);
}

.square {
  border: 1px solid white;
  height: 62px;
  width: 62px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.games {
  background-color: white;
  text-align: center;
  margin: auto;
  width: 100%;
  margin-top: 1em;
  padding: 10px;
  color: black;
  font-size: 25px;
}

.games:hover {
    color: black;
    background-color: gray;
  }

button {
  background-color: white;
  color: black;
}

button:hover {
    color: black;
    background-color: gray;
  }
.coords {
  color: white;
  display: flex;
  justify-content: center;
  padding-left: 65px;
  padding-right: 100px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  padding-top: 13px;
  margin-left: 26%;
}

.coords2 {
  color: white;
  display: flex;
  justify-content: center;
  padding-left: 80px;
  padding-right: 100px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  padding-top: 13px;
  margin-left: 26%;
}

.coords3 {
  color: white;
  display: flex;
  justify-content: center;
  padding-right: 236px;
  font-size: 25px;
  height: 50px;
  padding-top: 13px;
  margin-left: 26%;
}

.alignRight {
 position: relative;
 left: 134px;
 bottom: 50px;
}

.coordtable{
  background-color: #2f2f2f;
  overflow: auto;
  height: 500px;
}

.centerbutton {
  background-color: white;
  text-align: center;
  width: 100%;
  padding: 10px;
  color: black;
  font-size: 25px;
}

.turn {
  margin-left: 13%;
  font-size: 20px;
}

.alignBoard {
  margin-top: .75rem;
}

.cancel {
  background-color: red;
  color: black;
}

.cancel:hover {
    color: black;
    background-color: blue;
  }

  .heightGames {
    overflow:scroll;
    height: 500px;
  }

.squaretable {
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.addSpace {
  margin-left: 20px;
}

.overall {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

tbody {
  border: 1px solid white;
  background-color: #817F7F;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

.center {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-size: 3.75rem;
  background-repeat: no-repeat;
}
.piece2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-size: 3rem;
  background-repeat: no-repeat;
}

.alphabet {
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.numbers {
  height: 50px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 62px;
}


.WhR {
  background-image: url('./images/WhR.png');
}

.BlR {
  background-image: url('./images/BlR.png');
}

.WhP {
  background-image: url('./images/WhP.png');
}

.box {
  margin-left: 45%;
  height: 50px;
  width: 50px;
  margin-top: 60px;
}

.W {
  background-color: white;
  border: 2px solid gray;
}

.B {
  background-color: black;
  border: 2px solid gray;
}

.BlP {
  background-image: url('./images/BlP.png');
}

.WhK {
  background-image: url('./images/WhK.png');
}

.BlK {
  background-image: url('./images/BlK.png');
}

.WhQ {
  background-image: url('./images/WhQ.png');
}

.BlQ {
  background-image: url('./images/BlQ.png');
}

.WhB {
  background-image: url('./images/WhB.png');
}

.BlB {
  background-image: url('./images/BlB.png');
}

.WhN {
  background-image: url('./images/WhN.png');
}

.BlN {
  background-image: url('./images/BlN.png');
}

.backgroundNav {
  background-color: #070606;
}

.clickMe {
  border-bottom: 1px solid white;
  color: white;
  position: absolute;
  left: 40px;
  @media (max-width: 767px) {
      position: static;
  }
}

.button {
  background-color: white;
  text-align: center;
  margin: auto;
  width: 35%;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 25px;
  padding: 10px;
  color: black;
  font-size: 25px;
}

.button:hover {
    color: black;
    background-color: gray;
  }

  .chesstitle {
    font-size: 120px;
  }

  .gamesplayedtitle {
    font-size: 90;
  }


.centerHomePageOne {
  display: flex;
  justify-content: center;
  align-content: center;
}
